<h1><%= @user.username %></h1>

<% if @user.friends %>
<h4>Friends</h3>
  <% @user.friends.each do |friend| %>
    <li>
    <%= link_to friend.username, user_path(friend) %>
    </li>
  <% end %>
<% end %>
