<h1>DUNGEONS 'N' DATA</h1>

<%= link_to "Sign Up", new_user_path %> or <%= link_to "Log In", users_login_path %>

<h3>Welcome to Dungeons'n'Data!</h3>

<p>Use this app as a DM or as a player to help you organize your campaigns and characters!</p>