<h1><%= @campaign.title %></h1>

<p>by: <%= link_to @dungeon_master.username, user_path(@dungeon_master) %></p>

<ul>
<% @campaign.players.each do |player| %>
    <li>
        <%= link_to player.username, user_path(player) %>
    </li>
<% end %>
</ul>