body {
  background-color: rgb(201, 201, 201);
  background: url('washed-bricks.png') no-repeat center center fixed;
  background-size: cover;
}

.btn {
  max-width: 40%;
  display: inline-block;
}

a.google-sign-in {
  background: rgb(255, 255, 255);
  color: #385fca;
  border-width: 2px;
  border-color: #385fca;
}

.alert {
  color: red;
}

#my-campaigns-btn {
  background-color: black;
}

#my-characters-btn {
  background-color: white;
}

.text-responsive {
  font-size: calc(100% + 1vw + 2vh);
}

img.mountain {
  border-bottom-style: solid;
  border-width: 1em;
  border-color: rgb(57, 61, 66);
}

ul {
  list-style: none;
  padding: 0;
}