body {
  background-color: rgb(201, 201, 201);
}

.btn {
  max-width: 60%;
  display: inline-block;
}

a.google-sign-in {
  background: rgb(255, 255, 255);
  color: #385fca;
  border-width: 2px;
  border-color: #385fca;
}

.alert {
  color: red;
}